.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 4px;
  }
  
  .page {
    font-size: 18px;
    padding: 0 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .previous,
  .next {
    font-size: 26px;
    cursor: pointer;
  }
  
  .previous {
    margin-right: 8px;
  }
  
  .next {
    margin-left: 8px;
  }
  
  .activePage {
    background-color: #fff;
    border-radius: 20px;
    color: #000;
  }
  
  .disabledPage {
    cursor: not-allowed;
  }
  